img.logo-dashboard {
    width: 100%;
    margin-top: 50%;
}

.otros{
    background-image: url('../dist/img/burbujas.gif');
    background-size: cover;
    height: 100%;
    padding: 0;
    margin:0;
}