

nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
    background-color: #201C42 !important;
    color: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 80%) !important;
}

img.brand-image.elevation-3 {
    width: 65%;
    line-height: .8;
    margin-top: -10px;
    float:none;
    max-height: 120px;
    box-shadow: none !important;
}

a.brand-link {
    background-color: #201C42 !important;
}

.sidebar.os-host.os-theme-light.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden.os-host-scrollbar-vertical-hidden.os-host-transition {
    background-color: #BBC9E8;
}

.sidebar .nav-link p{
    color: #201C42;
}

.nav-sidebar>.nav-item .nav-icon{
    color: #201C42; 
}
.btn-sidebar,.form-control-sidebar {
    background-color: #201C42 !important;
    border: 1px solid #201c42de !important;
    color: #fff !important;
}
.sidebar a {
    color: #201C42 !important;
}
.content-wrapper {
    background-color: #ffffff !important;
}
[class*=sidebar-dark-] {
    background-color: #BBC9E8;
}
.nav-sidebar>.nav-item:hover>.nav-link{
    background-color: #E50850 !important;
    color: #fff !important;
}

.nav-sidebar>.nav-item:hover> .nav-link .nav-icon{
    color: #fff !important;
}
.nav-sidebar>.nav-item:hover> .nav-link p{
    color: #fff !important;
}
/*.nav-sidebar>.nav-item:hover>.nav-treeview .nav-item{
    background-color: #E50850 !important;
    border-radius: 30px !important; 
}*/

.nav-link:hover {
    background-color: #E50850;
    color: #fff;
}