.card-color {
    background-color: #201C42 !important;
    color: white !important;
}

.bg-gradient-success {
    background: #E50850 linear-gradient(180deg, #E50850, #E50850) repeat-x !important;
    color: #fff;
}

.bg-gradient-warning {
    background: #E50850 linear-gradient(180deg, #E50850, #E50850) repeat-x !important;
    color: #fff;
}

.btn-secondary {
    color: #fff;
    background-color: #E50850;
    border-color: #E50850;
    box-shadow: none;
}

.bg-gradient-danger {
    background: #E50850 linear-gradient(180deg, #E50850, #E50850) repeat-x !important;
    color: #fff;
}

.card-warning:not(.card-outline)>.card-header {
    background-color: #201C42 !important;
    color: #fff;
}

.bg-gradient-success.btn:hover {
    background: #201C42 linear-gradient(180deg, #201C42, #201C42) repeat-x !important;
    border-color: #201C42;
    color: #ececec;
}

.bg-gradient-success.btn:active {
    background: #201C42 linear-gradient(180deg, #201C42, #201C42) repeat-x !important;
    border-color: #201C42;
    color: #ececec;
}

body.container {
    background: linear-gradient(to right, #D22F53, #82174A, #491845, #1F1C40) !important;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #201C42;
    border-color: #201C42;
}

.bg-gradient-warning.btn:hover {
    background: #201C42 linear-gradient(180deg, #201C42, #201C42) repeat-x !important;
    border-color: #201C42;
    color: #ececec;
}

.bg-gradient-danger.btn:hover {
    background: #201C42 linear-gradient(180deg, #201C42, #201C42) repeat-x !important;
    border-color: #201C42;
    color: #ececec;
}

.card-header {
    color: #fff;
    background-color: #201C42;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #201C42;
    border-color: #201C42;
}
